.index {
    width: 100vw;
    box-sizing: border-box;

    &-banner {
        width: 100vw;
        margin: 5px auto;

        @include pad-width {
            width: 768px;
        }

        @include small-pad-width {
            width: 480px;
        }

        @include phone-width {
            width: 375px;
            margin: 0;
        }

        img {
            width: 100%;
            box-shadow: 1px 1px 2px $box-shadow;
        }
    }

    &-reserve {
        position: relative;
        width: 1024px;
        margin: 100px auto;
        display: flex;
        box-sizing: border-box;

        @include pad-width {
            width: 768px;
            margin: 80px auto;
        }

        @include small-pad-width {
            width: 480px;
            margin: 40px auto;
        }

        @include phone-width {
            width: 375px;
            height: 100%;
            margin: 30px auto;
        }

        &-content {
            width: 550px;
            box-sizing: border-box;

            @include pad-width {
                width: 768px;
                margin: 80px auto;
            }

            @include small-pad-width {
                width: 480px;
                margin: 40px auto;
            }

            @include phone-width {
                width: 330px;
                height: 200px;
                margin: 5px auto;
            }

            h1 {
                display: block;
                font-family: $font;
                font-weight: 500;
                font-size: 28px;
                line-height: 1.5;
                color: $main-color;

                @include pad-width {
                    width: 768px;
                    margin: 80px auto;
                }

                @include small-pad-width {
                    width: 480px;
                    margin: 40px auto;
                }

                @include phone-width {
                    font-size: 24px;
                }
            }

            span {
                display: block;
                font-family: $font;
                padding-top: 10px;
                font-size: 20px;
                font-weight: 500;
                line-height: 1.5;
                color: $main-color;

                @include phone-width {
                    font-size: 16px;
                }
            }

            p {
                width: 450px;
                padding: 10px 0;
                font-family: $font;
                font-size: 14px;
                line-height: 1.5;
                color: $main-color;

                @include phone-width {
                    width: 350px;
                }
            }

        }

        .more-btn {
            position: relative;
            width: 170px;
            height: 50px;
            right: 40px;
            top: 180px;

            @include phone-width {
                position: absolute;
                right: 10px;
                top: 200px;
            }

            button {
                cursor: pointer;
                width: 170px;
                height: 50px;
                border: 1px solid $main-color;
                border-radius: 2px;
                background-color: $main-color;

                font-family: $font;
                font-size: 14px;
                color: $white;
                text-align: center;

                &:hover {
                    cursor: pointer;
                    background-color: $white;
                    color: $main-color;
                    transition: 0.5s ease-in-out;
                }

                &:active,
                &:focus {
                    cursor: pointer;
                    outline: none;
                }
            }
        }

        .img {
            width: 500px;

            @include pad-width {
                width: 768px;
                margin: 80px auto;
            }

            @include small-pad-width {
                width: 480px;
                margin: 40px auto;
            }

            @include phone-width {
                display: none;
            }

            img {
                width: 100%;
                box-shadow: 1px 1px 2px $box-shadow;
            }
        }
    }


    &-activity {
        position: relative;
        width: 1024px;
        margin: 100px auto;
        display: flex;
        justify-content: space-around;
        box-sizing: border-box;

        @include pad-width {
            width: 768px;
            margin: 80px auto;
        }

        @include small-pad-width {
            width: 480px;
            margin: 40px auto;
        }

        @include phone-width {
            width: 375px;
            height: 100%;
            display: flex;
            flex-direction: column;
            margin: 50px auto;
        }

        &-content {
            position: relative;

            // width: 550px;
            @include phone-width {
                width: 330px;
                margin: 20px auto;
            }

            h1 {
                font-family: $font;
                font-size: 28px;
                line-height: 42px;
                color: $main-color;

                @include phone-width {
                    text-align: center;
                    font-size: 24px;
                    line-height: 1.5;
                }
            }

            span {
                display: block;
                font-family: $font;
                padding-top: 10px;
                font-size: 20px;
                font-weight: 500;
                line-height: 27px;
                color: $main-color;

                @include phone-width {
                    text-align: center;
                    font-size: 18px;
                    line-height: 1.5;
                }
            }

            p {
                position: relative;
                bottom: 0;
                padding: 10px 0;
                font-family: $font;
                font-size: 14px;
                line-height: 21px;
                color: $main-color;

                @include phone-width {
                    width: 350px;
                }
            }

            .more-btn {
                position: relative;
                left: 210px;
                top: 130px;

                @include phone-width {
                    position: absolute;
                    left: 170px;
                    top: 140px;
                }


                button {
                    cursor: pointer;
                    width: 170px;
                    height: 50px;
                    border: 1px solid $main-color;
                    border-radius: 2px;
                    background-color: $main-color;

                    font-family: $font;
                    font-size: 14px;
                    color: $white;
                    text-align: center;

                    &:hover {
                        cursor: pointer;
                        background-color: $white;
                        color: $main-color;
                        transition: 0.5s ease-in-out;
                    }

                    &:active,
                    &:focus {
                        cursor: pointer;
                        outline: none;
                    }
                }
            }
        }

        .img {
            width: 500px;

            img {
                width: 100%;
                box-shadow: 1px 1px 2px $box-shadow;
            }

            @include phone-width {
                width: 350px;
                display: flex;
                flex-direction: column;
                margin: 10px auto;
            }
        }
    }


    &-categroy {
        margin: 10px 0;
        position: relative;

        @include phone-width {
            width: 350px;
        }

        h1 {
            font-family: $font;
            font-size: 28px;
            font-weight: 500;
            line-height: 42px;
            color: $main-color;
            text-align: center;
            margin: 20px 0;

        }
    }

    &-products {
        width: 1024px;
        margin: 10px auto;
        display: flex;
        flex-wrap: wrap;

        @include phone-width {
            width: 350px;
        }
    }

    &-item {
        display: flex;
        flex-direction: column;
        margin: 10px auto;
        width: 500px;

        a {
            text-decoration: none;
        }

        &-img {
            width: 450px;
            margin: 10px auto;

            @include phone-width {
                width: 350px;
                margin: 10px auto;
            }

            img {
                width: 100%;
                border-radius: 10px;
                box-shadow: 1px 1px 2px $box-shadow;
            }
        }

        &-text {

            h1 {
                font-family: $font;
                font-size: 18px;
                font-weight: 500;
                line-height: 27px;
                color: $main-color;
                text-align: center;
                text-align: center;
            }
        }
    }
}