.ordersuccess {
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 15px auto;
    border: 2px solid $main-color;
    border-radius: 5px;

    @include phone-width {
        width: 350px;
    }

    &-header {
        display: flex;
        flex-direction: row;
        margin: 10px auto;

        .success {
            position: relative;
            top: 5px;
            left: -10px;
            width: 40px;
            height: 40px;
            background: $second-color;
            // border: 2px solid $merino;
            border-radius: 50%;
            cursor: pointer;

            svg {

                position: absolute;
                top: 0;
                stroke: $main-color;
                stroke-width: 2px;
                fill: none;
                stroke-dasharray: 300;
                stroke-dashoffset: 0;
                transform: rotate(-90deg);
                transition: 1s linear;
            }

            span {
                position: absolute;
                display: block;
                margin: 5px 0;
                background: $white;

                &:nth-child(1) {
                    top: 18px;
                    left: 11px;
                    width: 10px;
                    height: 3px;
                    transform: rotate(45deg);
                }

                &:nth-child(2) {
                    top: 15px;
                    left: 15px;
                    width: 20px;
                    height: 3px;
                    transform: rotate(135deg);
                }
            }
        }

        h1 {
            text-align: center;
            font-family: $font;
            font-size: 28px;
            line-height: 52px;
            font-weight: 500;
            color: $main-color;
        }
    }

    &-orderlist {
        width: 400px;
        margin: 15px auto;

        @include phone-width {
            width: 330px;
        }

        h1 {
            text-align: left;
            font-size: 20px;
            line-height: 36px;
            color: $main-color;
        }

        table {
            width: 100%;
            font-family: $font;
            font-size: 14px;
            font-weight: 500;
            line-height: 21px;
            color: $main-color;

            tbody {
                th {
                    // border: 1px solid red;
                }
            }
        }

        &-detail {
            display: flex;
            align-items: flex-end;
        }
    }

    &-info,
    &-amount {
        width: 400px;
        margin: 15px auto;

        @include phone-width {
            width: 330px;
        }

        h1 {
            text-align: left;
            font-size: 20px;
            line-height: 36px;
            color: $main-color;
        }

        li {
            span {
                // border: 1px solid red;
                display: inline-block;
                font-family: $font;
                font-size: 14px;
                line-height: 21px;
                color: $main-color;
                margin: 5px 0;

                &:nth-child(1) {
                    width: 130px;
                }
            }
        }
    }

    &-btn {
        display: flex;
        justify-content: center;
        margin: 15px auto;

        button:hover {
            cursor: pointer;
            opacity: 0.8;
        }

        button:active {
            outline: none;
        }
    }

    &_back {
        border: 1px solid $main-color;
        border-radius: 3px;
        width: 150px;
        height: 40px;
        background-color: #fff;
        color: #7c644b;
        font-family: "Roboto Mono", monospace;
        font-size: 12px;
        text-transform: uppercase;
        margin: 10px;
    }

    &_next {
        border: 1px solid #7c644b;
        background-color: #7c644b;
        border-radius: 3px;
        color: white;
        width: 150px;
        height: 40px;
        font-family: "Roboto Mono", monospace;
        font-size: 14px;
        text-transform: uppercase;
        margin: 10px;
    }
}