$font: "Roboto Mono", monospace;
$logo-font: "Satisfy", cursive;
$logo-fz:42px;
$main-color: #7C644B;
$second-color:#957D61;
$brown:#AD9679;
$lighter-brown:#CDB89B;
$white:#fff;
$merino:#F7EFE5;
$darker-merino:#D4C8B9;
$darker2-merino:#B3A18F;
$darker-grey:#494F53;
$grey:#828A8E;
$error-red:#C63922;
$box-shadow:rgba(124, 100, 75, 0.6);
