$font: "Roboto Mono", monospace;
$tw-font:"Noto Serif TC", serif;
$logo-font: "Satisfy", cursive;
$logo-fz:40px;
$main-color: #7C644B;
$white:#fff;
$darker-grey:#494F53;
$grey:#828A8E;
$error-red:#C63922;
$box-shadow:rgba(124, 100, 75, 0.6);
