.breadcrumbs {
    width: 100vw;
    position: fixed;
    z-index: 90;
    color: $main-color;
    font-family: $font;
    font-size: 14px;
    line-height: 1.5;
    padding: 10px;

    @include phone-width{
        top: 90px;
    }

    &_now{
        color: $brown;
        text-transform:capitalize;
    }

    ul {
        display: flex;
        flex-direction: row;

        li {
            a {
                text-decoration: none;
                color: $main-color;
                font-family: $font;
            }
        }

        li+li {
            padding-left: 10px;
            &:before {
                content: '>';
                margin-right: 20px;
                color: $main-color;
            }
        }
    }
    @include phone-width{
        background-color: $white;
    }
}