*,
*::before,
*:after {
    box-sizing: border-box;
    text-decoration: none;
    color: $main-color;
}

body {
    font-family: $font;
    line-height: 1.5;
}

.uppercase {
    text-transform: uppercase;
}

.header {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 0 10px;
    position: sticky;
    top: 0;
    z-index: 1999;
    background-color: $white;

    &.scroll {
        position: sticky;
        z-index: 99;
        transition: .3s linear;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
        background-color: $white;
        box-shadow: 0 0 1px $box-shadow;
    }

    @include pad-width {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 25px;
        box-shadow: 0 0 1px $box-shadow;

        &.scroll {
            padding: 8px 25px;
            justify-content: space-between;
            align-items: center;
        }
    }

    @include phone-width {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0;
        background-color: $white;
        box-shadow: 0 0 1px $box-shadow;

        &.scroll {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100vw;
            padding: 0;
            box-shadow: 0 0 1px $box-shadow;
        }
    }

    &-mobile {
        .ham {
            display: none;
            transition: 0.3s ease-in-out;
            margin-left: 15px;

            span {
                display: block;
                margin-bottom: 5px;
                width: 22px;
                height: 2px;
                background: $main-color;
            }

            &.show {
                span {
                    position: relative;
                    transition: 0.3s ease-in-out;

                    &:nth-child(1) {
                        top: 5px;
                        transform: rotate(-135deg);
                    }

                    &:nth-child(2) {
                        display: none;
                    }

                    &:nth-child(3) {
                        top: -2px;
                        transform: rotate(135deg);
                    }
                }
            }
        }

        @include phone-width {
            width: 100vw;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            z-index: 99;
            background-color: $white;

            .ham {
                display: block;
            }
        }
    }
}


h1 {
    text-align: center;
    font-family: $logo-font;
    font-size: $logo-fz;
    line-height: 1;

    @include phone-width {
        font-size: 28px;
        line-height: 1.5;
    }
}

.nav {
    display: flex;
    justify-content: flex-end;

    @include pad-width {
        flex-direction: column;
        justify-content: center;
        // border: 1px solid red;
    }
}


.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 50px 5px 0;

    li {
        margin-left: 24px;
        margin-right: 24px;
        text-align: center;
        height: 30px;
        overflow: hidden;

        span {
            transition: 0.2s cubic-bezier(1, 0.8, 0.8, 1);
            display: flex;
            flex-direction: column;
            padding-top: 5px;
        }


        & a:hover {
            span:nth-child(1) {
                transform: scaleY(0) translateY(-30px);
            }

            span:nth-child(2) {
                transform: translateY(-33px);
            }
        }

        &:nth-child(3) {
            position: relative;

            ul {
                position: absolute;
                top: 40px;
                left: -70px;
                display: flex;
                flex-direction: column;
                border: 1px solid $main-color;
                background-color: $darker-merino;
                box-shadow: 1px 1px 2px $box-shadow;

                &::before {
                    //偽元素製作三角形
                    display: block;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: $darker-merino;
                    border-bottom: 1px solid $second-color;
                    border-right: 1px solid $second-color;
                    position: absolute;
                    top: -8px;
                    left: 90px;
                    transform: rotate(-135deg);
                }

                li {
                    // border: 1px solid red;
                    width: 150px;
                    margin: 5px 24px;
                    position: relative;
                    border-bottom: 1px solid $main-color;
                }
            }

            &:hover {
                overflow: visible;

                &>a>span {
                    &:nth-child(1) {
                        transform: scaleY(0) translateY(-30px);
                    }

                    &:nth-child(2) {
                        transform: translateY(-30px);
                    }
                }
            }

        }

    }

    &-mobile {
        display: none;
        transition: 0.5s ease-in-out;

        @include phone-width {
            background-color: $merino;
            width: 310px;
            height: 100vh;
            z-index: 99;
            overflow-y: scroll;
            position: absolute;
            top: 51px;
            left: -350px;
            display: block;
            text-align: center;
            box-shadow: 1px 1px 2px $box-shadow;

            li {
                text-align: center;
                box-shadow: 0px 0px 1px $box-shadow;
                width: 100%;
                padding: 10px;

                span {
                    display: flex;
                    padding-top: 5px;

                    &:nth-child(2) {
                        display: none;
                    }

                }

                & a:hover {
                    span:nth-child(1) {
                        display: none;
                    }

                    span:nth-child(2) {
                        // transform: translateY(-25px);
                        display: block;
                    }
                }

                &:nth-child(3) {
                    ul {
                        display: none;
                    }

                    &:hover {
                        ul {
                            position: relative;
                            display: block;
                            margin-top: 5px;
                            background-color: $darker-merino;
                            box-shadow: 0 0 1px $box-shadow;
                        }

                        &>a>span {
                            &:nth-child(1) {
                                display: none;
                            }

                            &:nth-child(2) {
                                display: block;
                            }
                        }
                    }
                }
            }

            &.show {
                left: 0;
            }
        }
    }

    @include pad-width {
        margin-right: 10px;

        li {
            margin: 0 16px;
        }
    }

    @include phone-width {
        display: none;
    }
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 8px;

        input {
            border: 1px solid $main-color;
            border-radius: 5px;
            padding: 5px;

            &:focus,
            &:active {
                outline: none;
            }
        }

        button {
            font-size: 18px;
        }

        &:nth-child(2) {
            position: relative;

            ul {
                position: absolute;
                display: none;
                flex-direction: column;
                border: 1px solid $main-color;
                background-color: $darker-merino;
                box-shadow: 1px 1px 2px $box-shadow;
                top: 35px;
                left: -65px;

                li {
                    text-align: center;
                    width: 140px;
                    height: 30px;
                    overflow: hidden;
                    margin: 5px 10px;
                    border-bottom: 1px solid $main-color;

                    a {
                        display: flex;
                        justify-content: center;
                    }

                    .subtitle {
                        width: 250px;
                        display: flex;
                        flex-direction: column;

                        span {
                            transition: 0.2s cubic-bezier(1, 0.8, 0.8, 1);
                            padding-top: 3px;
                        }

                        &:hover {
                            span {
                                &:nth-child(1) {
                                    transform: scaleY(0) translateY(-30px);
                                }

                                &:nth-child(2) {
                                    transform: translateY(-30px);
                                }
                            }
                        }
                    }
                }

                &::before {
                    //偽元素製作三角形
                    display: block;
                    content: "";
                    height: 15px;
                    width: 15px;
                    background-color: $darker-merino;
                    border-bottom: 1px solid $second-color;
                    border-right: 1px solid $second-color;
                    position: absolute;
                    top: -8px;
                    left: 70px;
                    transform: rotate(-135deg);
                }
            }

            &:hover {
                ul{
                    display: flex;
                }
            }
        }
    }

    .cart-amount {
        display: inline-block;
        width: 15px;
        height: 15px;
        background-color: $darker-merino;
        border-radius: 50%;
        font-size: 8px;
        line-height: 1;
        text-align: center;
        transform: translateX(-5px) translateY(1px);
    }

    &-mobile {
        display: none;

        @include phone-width {
            display: flex;
            justify-content: space-around;
            position: fixed;
            width: 100vw;
            bottom: 0;
            padding: 5px 0;
            background-color: $darker-merino;

            button {
                background-color: $darker-merino;
            }

            .cart-amount {
                display: inline-block;
                width: 15px;
                height: 15px;
                background-color: $brown;
                color: $white;
                border-radius: 50%;
                font-size: 8px;
                line-height: 1;
                text-align: center;
                transform: translateX(-5px) translateY(1px);
            }

            li {
                // border: 1px solid red;
                width: 50px;
                text-align: center;
            }
        }
    }

    @include pad-width {
        justify-content: flex-end;
        margin-right: 0px;

        li {
            margin: 0 4px;

            button {
                font-size: 16px;
            }
        }
    }

    @include phone-width {
        display: none;
    }
}

.mask {
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.show {
        display: block;
    }
}